* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 100%;
	box-sizing: border-box;
}

body {
	font-size: $font_med;
	font-family: sans-serif;
	font-weight: 400;
	overflow-x: hidden;

	background-color: #111;
}

.container {
	max-width: pxToRem(1660);
	margin: 0 auto;

	&--pall {
		padding: pxToRem(20);
	}

	&--px {
		padding-left: pxToRem(20);
		padding-right: pxToRem(20);
	}

	&--py {
		padding-top: pxToRem(20);
		padding-bottom: pxToRem(20);
	}

	&--pr {
		padding-left: 0;
		padding-right: pxToRem(20);
	}
}

.flex {
	display: flex;

	&-jc-sb {
		justify-content: space-between;
	}

	&-jc-c {
		justify-content: center;
	}

	&-ai-c {
		align-items: center;
	}

	&-d-c {
		flex-direction: column;
	}
}

a,
a:visited,
a:hover {
	text-decoration: none;
}

p {
	line-height: 1.5;
	font-size: $font_med;
	color: $Grayish_Blue;
}

.loading {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	border: 3px solid #00acc1;
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: cssload-spin .8s infinite linear;
	-o-animation: cssload-spin .8s infinite linear;
	-ms-animation: cssload-spin .8s infinite linear;
	-webkit-animation: cssload-spin .8s infinite linear;
	-moz-animation: cssload-spin .8s infinite linear;
}
@keyframes cssload-spin {
	100% {
		transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
// Visibility
.hide-for-desktop {
	@include breakpoint-up(large) {
		display: none;
	}
}

.hide-for-mobile {
	@include breakpoint-down(medium) {
		display: none;
	}
}
