@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.slider {
	&__info {
		position: absolute;
		line-height: 1.5;
		bottom: pxToRem(100);
		@include breakpoint-down(small) {
			bottom: pxToRem(50);
		}
		@include breakpoint-down(small) {
			max-width: 300px;
		}
		max-width: 650px;
		color: #fff;
		z-index: 2;
		padding-left: pxToRem(30);

		&__link {
			text-decoration: none;
			color: #fff;
			display: inline-block;

			&:hover {
				color: $Gray;
			}
		}

		&__meta {
			> a {
				display: inline-block;
				padding: pxToRem(10) pxToRem(10) pxToRem(10) 0;
			}
		}
		h1 {
			font-size: $font_xlg;
			@include breakpoint-down(small) {
				font-size: $font-lg;
			}
			font-weight: bold;
			margin: 0;
			margin-bottom: .2em;
			text-shadow: 0 1px 10px #111;
		}
		&__desc {
			@include breakpoint-down(small) {
				display: none;
			}
			font-size: 1.15em;
			color: $Gray;
			text-shadow: 0 1px 15px #111;
			width: pxToRem(650);
		}
	}
	&__slide {
		@include breakpoint-down(medium) {
			height: 80vh;
		}
		@include breakpoint-down(small) {
			height: 50vh;
		}
		height: 90vh;
		overflow: hidden;

		&__image {
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: top center;
			&::before {
				position: absolute;
				z-index: 1;
				content: "";
				bottom: 0;
				top: 0;
				width: 100%;
				background: -moz-radial-gradient(center, ellipse cover, transparent 50%, #000 100%);
				background: -webkit-gradient(
					radial,
					center center,
					0,
					center center,
					100%,
					color-stop(50%, transparent),
					color-stop(100%, #000)
				);
				background: -webkit-radial-gradient(center, ellipse cover, transparent 50%, #000 100%);
				background: -o-radial-gradient(center, ellipse cover, transparent 50%, #000 100%);
				background: -ms-radial-gradient(center, ellipse cover, transparent 50%, #000 100%);
				background: radial-gradient(ellipse at center, transparent 50%, #000 100%);
			}
			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				z-index: 1;
				width: 100%;
				height: 70px;

				background-color: rgba(17, 17, 17, 0);
				background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0)), to(#111));
				background-image: -webkit-linear-gradient(top, rgba(17, 17, 17, 0), #111);
				background-image: -moz-linear-gradient(top, rgba(17, 17, 17, 0), #111);
				background-image: -ms-linear-gradient(top, rgba(17, 17, 17, 0), #111);
				background-image: -o-linear-gradient(top, rgba(17, 17, 17, 0), #111);
				background-image: linear-gradient(top, rgba(17, 17, 17, 0), #111);
			}
		}
	}
}

.slick-dots li button:before {
	font-size: $font_med;
	color: $Soft_Blue;
}

.slick-dots li.slick-active button:before {
	opacity: 1;
	color: $Soft_Blue;
}

.slick-dots {
	bottom: pxToRem(5);
}
