//Colors
$Soft_Blue: #00acc1;
$Grayish_Blue: hsl(229, 8%, 60%);
$Gray: #adb5bd;
$Very_Dark_Blue: hsl(229, 31%, 21%);

//Fonts
$font_sm: pxToRem(12);
$font_med: pxToRem(14);
$font_lg: pxToRem(32);
$font_xlg: pxToRem(48);
